
<div class="card">
  <div class="card-header">
    <h2>Registrate para jugar!</h2>
  </div>
  <div class="card-body">
    <form [formGroup]="miRegistro" (ngSubmit)="enviarForm()"> <!-- llamamos a la directiva y le asignamos el valor del formulario -->
      <div class="row">
        <div class="col">
        
          <div class="form-group">
            <label class="form-label" for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
            @if (nombre?.hasError('pattern') && nombre?.touched) {
              <small class="text-danger">Sólo debe contener letras</small>
            }

            @if (nombre?.touched && nombre?.hasError('minlength')) {
              <small class="text-danger">Mínimo 4 caracteres</small>
            }

            @if (nombre?.touched && nombre?.hasError('maxlength')) {
              <small class="text-danger">Máximo 10 caracteres</small>
            }

            @if (nombre?.hasError('required') && nombre?.touched) {
              <small class="text-danger">El nombre es obligatorio</small>
            }
          </div>

          <div class="form-group">
            <label class="form-label" for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" formControlName="apellido">
            @if (apellido?.hasError('pattern') && apellido?.touched) { 
              <small class="text-danger">Sólo debe contener letras</small>
            }

            @if (apellido?.touched && apellido?.hasError('minlength')) {
              <small class="text-danger">Mínimo 4 caracteres</small>
            }

            @if (apellido?.touched && apellido?.hasError('maxlength')) {
              <small class="text-danger">Máximo 15 caracteres</small>
            }

            @if (apellido?.hasError('required') && apellido?.touched) {
              <small class="text-danger">El apellido es obligatorio</small>
            }
          </div>

          <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            @if (email?.hasError('required') && email?.touched) {
              <small class="text-danger">El email es obligatorio</small>
              }

            @if (email?.hasError('email') && email?.touched) {
              <small class="text-danger">Formato inválido</small>
            }
             @if (email?.touched && email?.hasError('maxlength')) {
              <small class="text-danger">Máximo 30 caracteres permitidos</small>
            }
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="form-label" for="edad">Edad</label>
            <input type="number" class="form-control" id="edad" formControlName="edad">
            @if (edad?.hasError('min') && edad?.touched) { 
              <small class="text-danger">Debe ser mayor de 10 años</small>
            }

            @if (edad?.hasError('max') && edad?.touched) { 
              <small class="text-danger">No se permiten edades mayores a 99 años</small>
            }

            @if (edad?.hasError('required') && edad?.touched) {
              <small class="text-danger">La edad es obligatoria</small>
            }
          </div>

          <div class="form-group">
            <label class="form-label" for="clave">Clave</label>
            <input type="password" class="form-control" id="clave" formControlName="clave">
            @if (clave?.hasError('required') && clave?.touched) {
              <small class="text-danger">La clave es obligatoria</small>
            }

            @if (clave?.hasError('minlength') && clave?.touched) { 
              <small class="text-danger">La clave debe tener mínimo {{clave?.getError('minlength').requiredLength}} caracteres</small>
            }

            @if (clave?.touched && clave?.hasError('maxlength')) {
              <small class="text-danger">Máximo 10 caracteres permitidos</small>
            }
          </div>

          <div class="form-group">
            <label class="form-label" for="repiteClave">Repite clave</label>
            <input type="password" class="form-control" id="repiteClave" formControlName="repiteClave">
            @if (repiteClave?.hasError('required') && repiteClave?.touched) {
              <small class="text-danger">La clave es obligatoria</small>
            }

            @if (repiteClave?.touched && miRegistro.hasError('noCoincide')) {
              <small class="text-danger">Las claves no coinciden</small>
            }
          </div>
        </div>
      </div>

      <div class="botonera-registro">
        <div class="botones-registro">
          <button  [disabled]="miRegistro.invalid" class="btn-envio" type="submit">
            Registrarse
          </button>
          <button class="btn-aLogin" type="button" (click)="irALogin()">
            Ya tengo cuenta
          </button>
        </div>

        <div class="iconos-registro">
          <button class="btn-reset" type="button" (click)="resetearForm()">
            <img src="tacho-basura.png" alt="">
          </button>
          <button class="btn-volver" type="button" (click)="volverAInicio()">
            <img src="volver.png" alt="">
          </button>
        </div>

      </div>
    </form>
  </div>
</div>

