<div class="card-general">
    <div>
        <h2>Elije tu juego</h2>
    </div>
    <div class="card-juegos-opciones">
        <div class="card-juego">
            <div class="card-titulo">
                <img src="ahorcado.png" alt="">
                <h3>El Ahorcado</h3>
            </div>
            <div class="card-descripcion">
                <p> ¿Serás capaz de encontrar la palabra secreta para salvar al ahorcado?</p>
                <button routerLink="/juegos/ahorcado">Jugar</button>
            </div>
            
        </div>
        <div class="card-juego">
            <div class="card-titulo">
                <img src="naipes.png" alt="">
                <h3>Mayor o menor</h3>
            </div>
            <div class="card-descripcion">
                <p>Poné a prueba tu intuición y adiviná el valor de la próxima carta.</p>
                <button routerLink="/juegos/mayor-menor">Jugar</button>
            </div>
        </div>
        <div class="card-juego">
            <div class="card-titulo">
                <img src="conversacion.png" alt="">
                <h3>Preguntados</h3>
            </div>
            <div class="card-descripcion">
                <p>Responde preguntas de cultura general.</p>
                <button routerLink="/juegos/preguntados">Jugar</button>
            </div>
        </div>
        <div class="card-juego">
            <div class="card-titulo">
                <img src="alfabeto.png" alt="">
                <h3>El Rosco</h3>
            </div>
            <div class="card-descripcion">
                <p>Acierta las 27  palabras definidas por una letra del abecedario.</p>
                <button routerLink="/juegos/el-rosco">Jugar</button>
            </div>
        </div>
    </div>

</div>

