<div class="navbar">
    <div class="logo">
        <img src="/fantasma.png" alt="">
        <h1>Sala de Juegos</h1>
    </div>
    <div class="nav-links">
        
        <a routerLink="/home">Juegos</a>
        @if (auth.user()) {
            <a routerLink="/quien-soy">¿Quien soy?</a>
            <span>{{ auth.user()?.email }}</span>

            <button class="btn-cerrar" (click)="logout()">
                <img src="cerrar-sesion.png" alt="Icono de logout">
            </button>
        }
        
        
    </div>
</div>