<div class="contenedor-general">

    <div class="tituloMasJuego">
        <div class="titulo-juego">
            <h2>El Ahorcado</h2>
        </div>
        
        <div class="contenedor-juego">

            <div class="zona-juego">
                <div class="contenedor-dibujo">
                    <img [src]="cantidadErrores + '_ahorcado.png'">
                </div>

                <div class="contenedor-letras">
                    <div class="contenedor-guiones">
                    @for (letra of palabraSeleccionada; track $index) {
                        <span>
                        @if (letrasAdivinadas.includes(letra)) {
                            {{ letra }}
                        } @else {
                            _
                        }
                        </span>
                    }
                </div>

                <div class="contenedor-abecedario">
                    @for (letra of abecedario; track $index) {
                        <button (click)="seleccionarLetra(letra)"
                                [disabled]="esCorrecta(letra) || esIncorrecta(letra)"
                                [ngClass]="{
                                            'correcta': esCorrecta(letra),
                                            'incorrecta': esIncorrecta(letra) }">
                                {{ letra }}
                        </button>
                    }
                </div>
            </div>
        </div>
        <div class="contenedor-estados">
            <div class="contenedor-vidas">
                <img [src]="vidasTotales + '_vidas.png'">
            </div>

            <div class="contenedor-ronda">
                <span>Ronda</span>
                <p>{{ rondaActual }} / {{ maximoRondas }}</p>
            </div>
            
            <div class="contenedor-puntos">
                    <span>Puntos</span>
                    <p>{{ puntaje }}</p>
            </div>

            <div class="contenedor-errores">
                <span>Errores </span>
                <p>{{ cantidadErrores }} / {{erroresPermitidos}}</p>
            </div>
                    
                </div>
        </div>
            <button class="btn-volver" (click)="volverAJuegos()">
                Volver
            </button>
            
            
            
        </div>
</div>