table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Poppins", sans-serif;
    background: rgba(255,255,255,0.08);
    border-radius: 16px;
    overflow: hidden;
}

th {
    background-color: #AB2968;
    color: whitesmoke;
    padding: 14px;
    text-align: center;
}

td {
    padding: 12px;
    text-align: center;
    color: whitesmoke;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

tr:hover {
    background: rgba(255,255,255,0.05);
}